<h1>Log in</h1>

<form action="<%=session_url%>" method="POST">
    <%= auth_token %>
    <label for="new_username">Username</label>
    <input type="text" id="new_username" name="user[username]">

    <br>

    <label for="new_password">Password</label>
    <input type="password" id="new_password" name="user[password]">

    <input type="submit" name="Log in">
</form>